@tailwind base;
@tailwind components;
@tailwind utilities;

.dot-before::before {
  content: "";
  display: inline-block;
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: rgb(148 163 184);
  vertical-align: middle;
  margin: 0 0.5em 2px 0.5em
}
